<section>
  <div class="coffee-production-analysis">
    <h1 class="title">Análise sobre a produção do café</h1>

    <button
      class="request-button"
      mat-flat-button
      color="primary"
      type="submit"
      (click)="openModal()"
    >
      Requisitar nova analise
    </button>

    <div *ngIf="loading" class="loading">
      <h1>IA analisando resultados</h1>
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loading" class="analysis_label">
      <h1>Analise realizada pela IA</h1>
      <p *ngIf="aIanalisys$ | async as analysis">{{ analysis }}</p>
    </div>
  </div>

  <div class="form-modal" *ngIf="modalOpenned">
    <form [formGroup]="coffeeForm" (ngSubmit)="submitForm()">
      <mat-card>
        <mat-card-title>Informações do Lote de Café</mat-card-title>

        <mat-form-field appearance="outline">
          <mat-label>Custo de produção</mat-label>
          <input matInput type="number" formControlName="production_costs" />
          <mat-error *ngIf="hasError('production_costs', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('production_costs', 'min')"
            >O valor deve ser maior ou igual a 0</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Produtividade</mat-label>
          <input matInput type="number" formControlName="productivity" />
          <mat-error *ngIf="hasError('productivity', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('productivity', 'min')"
            >O valor deve ser maior ou igual a 100</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Custo por saca</mat-label>
          <input matInput type="number" formControlName="cost_per_bag" />
          <mat-error *ngIf="hasError('cost_per_bag', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('cost_per_bag', 'min')"
            >O valor deve ser positivo</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Preco de venda</mat-label>
          <input matInput type="number" formControlName="sale_price" />
          <mat-error *ngIf="hasError('sale_price', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('sale_price', 'min')"
            >O valor deve ser maior ou igual a 0</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gastos com fertilizantes</mat-label>
          <input matInput type="number" formControlName="fertilizer_expenses" />
          <mat-error *ngIf="hasError('fertilizer_expenses', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('fertilizer_expenses', 'min')"
            >Valor precisa ser positivo</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gastos com mão de obra</mat-label>
          <input matInput type="number" formControlName="labor_expenses" />
          <mat-error *ngIf="hasError('labor_expenses', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('labor_expenses', 'min')"
            >Valor precisa ser positivo</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Despesas com irrigação</mat-label>
          <input matInput type="number" formControlName="irrigation_expenses" />
          <mat-error *ngIf="hasError('irrigation_expenses', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('irrigation_expenses', 'min')"
            >Valor precisa ser positivo</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Custos com transporte</mat-label>
          <input matInput type="number" formControlName="transport_costs" />
          <mat-error *ngIf="hasError('transport_costs', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('transport_costs', 'min')"
            >Valor precisa ser positivo</mat-error
          >
        </mat-form-field>

        <div class="buttons-container">
          <button
            [disabled]="!coffeeForm.valid"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Enviar
          </button>
          <button
            mat-raised-button
            color="warn"
            type="submit"
            (click)="closeModal()"
          >
            Cancelar
          </button>
        </div>
      </mat-card>
    </form>
  </div>
</section>
