<section>
  <div class="coffee-production-analysis">
    <h1 class="title">Análise sobre a qualidade do café</h1>

    <button
      class="request-button"
      mat-flat-button
      color="primary"
      type="submit"
      (click)="openModal()"
    >
      Requisitar nova analise
    </button>

    <div *ngIf="loading" class="loading">
      <h1>IA analisando resultados</h1>
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!loading" class="analysis_label">
      <h1>Analise realizada pela IA</h1>
      <p *ngIf="aIanalisys$ | async as analysis">{{ analysis }}</p>
    </div>
  </div>

  <div class="form-modal" *ngIf="modalOpenned">
    <form [formGroup]="coffeeForm" (ngSubmit)="submitForm()">
      <mat-card>
        <mat-card-title>Informações do Lote de Café</mat-card-title>

        <mat-form-field appearance="outline">
          <mat-label>Umidade (%)</mat-label>
          <input matInput type="number" formControlName="umidade" />
          <mat-error *ngIf="hasError('umidade', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('umidade', 'min')"
            >O valor deve ser maior ou igual a 0</mat-error
          >
          <mat-error *ngIf="hasError('umidade', 'max')"
            >O valor deve ser menor ou igual a 100</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Densidade (g/L)</mat-label>
          <input matInput type="number" formControlName="densidade" />
          <mat-error *ngIf="hasError('densidade', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('densidade', 'min')"
            >O valor deve ser maior ou igual a 100</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tamanho Médio do Grão (mm)</mat-label>
          <input matInput type="number" formControlName="tamanhoMedioGrao" />
          <mat-error *ngIf="hasError('tamanhoMedioGrao', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('tamanhoMedioGrao', 'min')"
            >O valor deve ser positivo</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Impurezas (%)</mat-label>
          <input matInput type="number" formControlName="impurezas" />
          <mat-error *ngIf="hasError('impurezas', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('impurezas', 'min')"
            >O valor deve ser maior ou igual a 0</mat-error
          >
          <mat-error *ngIf="hasError('impurezas', 'max')"
            >O valor deve ser menor ou igual a 100</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Origem do Lote</mat-label>
          <input matInput formControlName="origemLote" />
          <mat-error *ngIf="hasError('origemLote', 'required')"
            >Campo obrigatório</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Método de Processamento</mat-label>
          <mat-select formControlName="metodoProcessamento">
            <mat-option value="Natural">Natural</mat-option>
            <mat-option value="Lavado">Lavado</mat-option>
            <mat-option value="Honey">Honey</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('metodoProcessamento', 'required')"
            >Selecione um método</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pontuação SCA</mat-label>
          <input matInput type="number" formControlName="pontuacaoSCA" />
          <mat-error *ngIf="hasError('pontuacaoSCA', 'required')"
            >Campo obrigatório</mat-error
          >
          <mat-error *ngIf="hasError('pontuacaoSCA', 'min')"
            >O valor deve ser maior ou igual a 0</mat-error
          >
          <mat-error *ngIf="hasError('pontuacaoSCA', 'max')"
            >O valor deve ser menor ou igual a 100</mat-error
          >
        </mat-form-field>

        <div class="buttons-container">
          <button
            [disabled]="!coffeeForm.valid"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Enviar
          </button>
          <button
            mat-raised-button
            color="warn"
            type="submit"
            (click)="closeModal()"
          >
            Cancelar
          </button>
        </div>
      </mat-card>
    </form>
  </div>
</section>
